.sider_bar_item {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 8px;
}

.bar_item_h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

.bar_item_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item_list_item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 8px;
}

.isDouble {
    width: 50%;
    cursor: pointer;
}
