.system {
    background-color: #fff;
    min-height: 100vh;
}
.system_content {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    gap: 12px;
    margin-top: 20px;
}
.system_sidebar {
    width: 20%;
    border-right: 1px solid #ccc;
    height: 100%;
}
.system_outlet {
    flex: 1;
}
