.update_post {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.overflow {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.update_post_content {
    position: absolute;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
    max-width: 700px;
    width: 100%;
    padding: 40px;
    height: 100vh;
    overflow-y: auto;
}
