.search_item {
    // width: 20%;
    padding: 10px 16px 10px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

.search_item span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}
