.list {
    width: 100%;
    & .list_header_count {
        margin-bottom: 15px;
    }
}

.list_header {
    padding: 20px;
}

.list_header_title {
    font-size: 21px;
    margin-bottom: 15px;
}

.list_navigate {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.list_navigate a {
    padding: 4px 12px;
    background-color: #eeebeb;
    margin: 0 6px;
    border-radius: 8px;
}
.list_navigate a.active {
    color: #000;
}
